.quesStyle{
    text-align: start;
    background: #F3F3F3;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    width: 450px;
    height: 60px;
    font-size: 15px;
    border: none;
    outline: none;
}

.quesStyle:hover{
    background: #cecece;
    transition: 0.2s;
}

.com{
    background: rgb(230, 71, 71);
    text-decoration: line-through;
    cursor: not-allowed;
}

.com:hover{
    background: rgb(230, 71, 71);
}

.deleteAnswerBtn{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.deleteAnswerBtn:hover{
    color: rgb(230, 71, 71);
}

.addAmswerBtn{
    margin-right: 5;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
}

.addAmswerBtn:hover{
    color:rgb(88, 88, 88);
}

.thStyle{
    background: #0d1336;
    height: 40px;
    color: #fff;
}

.closeAddAnswerBtn{
    font-size: 3ch;
    cursor: pointer;
}

.closeAddAnswerBtn:hover{
    color:rgb(88, 88, 88);
}